{% include "shop/base.html" %} 
{% load static %} 
{% block content %}



<body id="register-body">
    <br>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Welcome, {{ user.username }}</h3>
        <hr>


        <div class="row">
            <div class="col">
                This is your dashboard. From here you can:
                <li>Manage your account</li>
            </div>
        
        </div>
    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Manage your account</h3>
        <hr>

        <p>Update or delete your account</p>

        <a href="{% url 'profile-management' %}">
            <button type="button" class="btn btn-primary btn-md  btn-block p-2">
                &nbsp; Manage account &nbsp;
            </button>
        </a>

    </div>


    <br>
</body>

{% endblock %}