{% include "shop/base.html" %} 
{% load static %} 
{% block content %}



<body>
    <div class="container bg-info shadow-md p-5 form-layout">

        <h3>Dashboard</h3>

        <br />
        <br />

        <div class="row">
            <div class="col-md-6">
                <h4>Account Information</h4>
                <br />
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>First Name: {{ user.first_name }}</p>
                <p>Last Name: {{ user.last_name }}</p>
            </div>
            <div class="col-md-6">
                <h4>Order History</h4>
                <br />
                <p>Order 1</p>
                <p>Order 2</p>
                <p>Order 3</p>
            </div>
        </div>
    </div>
</body>

{% endblock %}