{% include "shop/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
    <body id="register-body">
        <div class="flex-container">
            <br>
            <br>
            <div class="container bg-white shadow-md p-5 verification-layout">
                <h3>Manage shipping address</h3>

                
            
                <br />
                <br />
            
                <form method="POST" autocomplete="off">
                    {% csrf_token %} 
                    
                    {{form.first_name|as_crispy_field}}
                    <br />
                    {{form.last_name|as_crispy_field}}
                    <br />
                    {{form.email|as_crispy_field}}
                    <br />
                    {{form.address1|as_crispy_field}}
                    <br />
                    {{form.address2|as_crispy_field}}
                    <br />
                    {{form.city|as_crispy_field}}
                    <br />
                    {{form.postal_code|as_crispy_field}}
                    <br />
                    {{form.country|as_crispy_field}}

                    
                    <br>
                    <button
                    type="submit"
                    class="btn btn-secondary btn-lg w-100 btn-block p-2"
                    >
                    &nbsp; Update shipping address &nbsp;
                    </button>
                </form>
                <br>
        
            </div>
        </div>
    </body>

    <br> <br>
{% endblock %}